
<nav class="navbar navbar-expand-lg bg-light">

    <i class="fa-solid fa-bars fa-lg" style="margin-left: 16px;"></i>
    <h6 class="navbar-brand" style="margin-left: 16px;">
      Coffee Shop
    </h6>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#">Menu</a>
        </li>
      </ul>
      <!-- Left links -->
      <div class="d-flex align-items-center">
        <button *ngIf="!loggedIn()" type="button" (click)="Loggedout()" class="btn btn-link px-3 me-2">
          Login
        </button>
        <button type="button" class="btn btn-link px-3 me-2">
          ADD Items
        </button>
        <button *ngIf= "!loggedIn()" type="button" (click)="Loggedout() " class="btn btn-primary me-3">
          Register
        </button>
        <button *ngIf="loggedIn()" type="button" (click)="Loggedout()" class="btn btn-primary me-3">
          logout
        </button>
        <div>
        <img src="../../assets/img/cart1.png" style="width: 34px;margin-right: 11px;">
        <p style="color: red;font-weight: bold;position: absolute;right: 65px;top: 16px;font-size: 11px;">0</p>
        </div>
        <img src="../../assets/img/dummy-profile-pic.jpg" style="width: 30px;border-radius: 50%;margin-right: 13px;">
      </div>
</nav>
<main>
  <app-side-nav></app-side-nav>
</main>